<ul class="sidebar-links">
  
   <li>
    <%= link_to "new item", "" %>
   </li><br><br>
 
  
  <li>
    <%= link_to "items", items_path %>
  </li> <br><br>

  <li>
    <%= link_to "reports", "" %>
  </li> <br><br>

   <li>
    <%= link_to "creditors", "" %>
  </li> 
</ul>