@import "bootstrap-sprockets";
@import "bootstrap";

.container {
	height: 100%;
	width: 100%;
}

.sidebar {
	border-right: 6px solid grey;
	background-color: #eee;
	height: 600px;
	width: 100%;
	text-align: left;
	margin-left: 0;
}